/* width */
::-webkit-scrollbar {
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #a7a7a7;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #929292;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.user-wrapper,
.message-wrapper {
    border: 1px solid #dddddd;
    overflow-y: auto;
}
.user-wrapper {
    height: 600px;
}
.user {
    cursor: pointer;
    padding: 5px 0;
    position: relative;
}
.user:hover {
    background: #eeeeee;
}
.user:last-child {
    margin-bottom: 0;
}
.pending {
    position: absolute;
    left: 53px;
    top: 9px;
    background: #b600ff;
    margin: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 18px;
    padding-left: 5px;
    color: #ffffff;
    font-size: 12px;
    padding-top: 4px;
    padding-right: 5px;
}
.media-left {
    margin: 0 10px;
}
.media-left img {
    width: 64px;
    border-radius: 64px;
}
.media-body p {
    margin: 6px 0;
}
.message-wrapper {
    padding: 10px;
    height: 536px;
    background: #eeeeee;
}
.messages .message {
    margin-bottom: 15px;
}
.messages .message:last-child {
    margin-bottom: 0;
}
.received,
.sent {
    width: 45%;
    padding: 3px 10px;
    border-radius: 10px;
}
.received {
    text-align: left;
    background: #ffffff;
}
.sent {
    background: #3bebff;
    float: right;
    text-align: right;
}
.message p {
    margin: 5px 0;
}
.date {
    color: #777777;
    font-size: 12px;
}
.active {
    background: #eeeeee;
}
.consultainput {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #cccccc;
}
.consultainput {
    border: 1px solid #aaaaaa;
}

.resuelta {
    background-color: #1cc88a40;
}

.btn-circle-consulta {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-success-consulta {
    color: #fff;
    background-color: #1cc88a;
    border-color: #1cc88a;
}

.btn-success-consulta:hover {
    color: #fff;
    background-color: #17a673;
    border-color: #169b6b;
}

.btn-success-consulta:focus,
.btn-success-consulta.focus {
    box-shadow: 0 0 0 0.2rem rgba(62, 208, 156, 0.5);
}
